.conteudo{
    background: yellow;
    width: 200px;
    height: 200px;
    margin: 10px;
    float: left;
    border: 3px solid red;
}

.clear{
    clear: both;
    
}

#content{
    border: 1px solid green;
    background: gray;
}